<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="ERROR" shutdownHook="disable">
    <Packages>org.apache.logging.log4j.core</Packages>

    <Properties>
        <Property name="log4j2.is.webapp">false</Property>
        <Property name="log4j2.contextSelector">org.apache.logging.log4j.core.selector.BasicContextSelector</Property>
    </Properties>

    <Appenders>
        <Console name="Console" target="SYSTEM_OUT" follow="true">
            <PatternLayout pattern="%style{%d{HH:mm:ss.SSS}}{Magenta} %style{|-}{White}%highlight{%-5p} [%t] %style{%40.40c}{Cyan}:%style{%-3L}{Blue} %style{-|}{White} %m%n%rEx{filters(jdk.internal.reflect,java.lang.reflect,sun.reflect)}" disableAnsi="false" charset="UTF-8"/>
        </Console>
    </Appenders>

    <Loggers>
        <Root level="info">
            <AppenderRef ref="Console"/>
        </Root>
        <Logger name="org.apache.zookeeper" level="warn" />
        <Logger name="org.apache.dubbo.registry.zookeeper" level="warn" />
        <Logger name="org.apache.dubbo.config.deploy" level="warn" />
        <Logger name="org.apache.dubbo.registry.client" level="warn" />
        <Logger name="org.apache.dubbo.rpc.model" level="warn" />
    </Loggers>
</Configuration>
